{{page-title "EmberCrm"}}

{{!-- The following component displays Ember's default welcome message. --}}

{{!-- Feel free to remove this! --}}
<LinkTo @route="index">
  <img class="logo">
</LinkTo>

<nav>
  <ul>
    <li>
      <LinkTo @route="contact">Contacts</LinkTo>
    </li>
    <li>
      <LinkTo @route="account">Accounts</LinkTo>
    </li>
  </ul>
</nav>
{{outlet}}